[MASTER]
ignore=static,.git
[MESSAGES CONTROL]
disable=invalid-name,missing-module-docstring,missing-class-docstring,missing-function-docstring,raise-missing-from,too-many-instance-attributes,too-few-public-methods,too-many-arguments
[FORMAT]
max-line-length=120
